//- Including mixins and extending default layout for html page.
include templates/general/_mixins
extends templates/general/_layout


//- Inserting main data into page.
block config
  -
    var
      game = 'funbrain'

      pageTitle = 'Funbrain Games'

      footerType = 'footer--bg-funbrain'

      mainTitle = 'Funbrain Games'

      subTitle = 'Penalty Kick & Block'

      description = 'Funbrain.com is a leader in free educational games for kids. The brief was to convert the Flash-based game library of top-performing games to HTML5, which the Fundemic team accomplished on time and on budget.'

      client = 'Funbrain.com'

      type = 'Conversion from Flash to HTML5'

      photoType = 'mobile'

      games = 'Switch, Math Basketball, Math Soccer, Treasure Dive, Inkster, Star Climber'

      galleries =
      [
        {
          title:'Desc part 1:',
          description:'Funbrain’s fun games and activities are designed to teach kids about math, science, and other subjects in a playful manner.',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        },
        {
          title:'Desc part 2:',
          description:'The Fundemic team ported 10+ games for the revamped version of Funbrain.com',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        }
      ]


//- Uncomment if need cookie dialog on this page.
//- block cookie
//- include templates/general/_cookie


//- Including header template.
block header
  include templates/general/_header


//- Including main sections of single project page.
block main
  main(class="single-project-page #{photoType}")
    include templates/single-project/_hero


      //- Including specific backgrounds.
      block background
        img(
          src="./img/hero-bg-#{game}.png"
          class="hero-game__bg hero-game__bg-main"
          style="opacity:0"
          onload="this.classList.add('onload')"
        )

    include templates/single-project/_photos
    +gallery


//- Including footer template.
block footer
  include templates/general/_footer


//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="js/snap.svg-min.js")
  script(src="js/glide.min.js")
  script(src="js/menu-control.js")
  script(src="js/single-project.js")
