//- Including mixins and extending default layout for html page.
include templates/general/_mixins
extends templates/general/_layout


//- Inserting main data into page.
block config
  -
    var
      game = 'webkinz'

      pageTitle = 'Webkinz Games'

      footerType = 'footer--bg-webkinz'

      mainTitle = 'Webkinz Games'

      subTitle = ''

      description = 'Owned by our friends at Ganz, Webkinz.com is a colorful virtual world inhabited by the eponymous animals sold as plush toys in retail stores. In what is one of our most long-running and successful partnerships, the Fundemic developers built several custom games for the Webkinz Arcade. We’ve also ported some Ganz-developed titles to Starling framework and Unity.'

      client = 'Ganz Inc'

      type = 'Custom game development, Flash to mobile conversion (Unity engine).'

      photoType = 'desktop'

      games = 'Polar Plunge, Dogbeard’s Gold, Cash Cow, Jumbleberry Blast, Pet Party Parade, Lily Padz, Atlantiles'

      galleries =
      [
        {
          link: 'https://www.webkinz.com/',
          title: 'Dogbeard’s Gold, Cash Cow, Polar Plunge:',
          description:'Dogbeard’s Gold was based on the Fundemic game Amazing Sheriff, while Polar Plunge and Cash Cow were developed from Webkinz Arcade Flash games with complete graphics overhaul (assets supplied by Fundemic). ',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        },
        {
          link: 'https://www.webkinz.com/',
          title: 'Jumbleberry Blast, Pet Party Parade:',
          description:'Both titles are based on the HTML5 games developed by Fundemic with full artwork makeover (assets supplied by Ganz).',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        },
        {
          link: 'https://www.webkinz.com/',
          title: 'Lily Padz, Atlantiles.',
          description:'Classic Webkinz games ported from Flash to Mobile by Fundemic (assets supplied by Ganz).',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        }
      ]



//- Uncomment if need cookie dialog on this page.
//- block cookie
//- include templates/general/_cookie


//- Including header template.
block header
  include templates/general/_header


//- Including main sections of single project page.
block main
  main(class="single-project-page #{photoType}")
    include templates/single-project/_hero


      //- Including specific backgrounds.
      block background
        img(
          src="./img/hero-bg-#{game}.png"
          class="hero-game__bg hero-game__bg-main"
          style="opacity:0"
          onload="this.classList.add('onload')"
        )
        img(src="./img/hero-bg-#{game}-mobile.png"
            class="hero-game__bg hero-game__bg-mobile"
            style="opacity:0"
            onload="this.classList.add('onload')"
        )

    include templates/single-project/_photos
    +gallery


//- Including footer template.
block footer
  include templates/general/_footer


//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="js/snap.svg-min.js")
  script(src="js/glide.min.js")
  script(src="js/menu-control.js")
  script(src="js/single-project.js")
