//- Including mixins and extending default layout for html page.
include templates/general/_mixins
extends templates/general/_layout


//- Inserting main data into page.
block config
  -
    var
      game = 'batman'

      pageTitle = 'Batman'

      logo = 'cartoon-network'

      footerType = 'footer--bg-batman'

      mainTitle = 'Batman Games'

      subTitle = ''

      description = 'The games were originally developed by Cartoon Network in Flash.The Caped Crusader has always been known for his use of cool gadgets and advanced technology, so it was only fitting that he would transition to HTML5. {Optional Developer comments} The Fundemic team rewrote the code base in JavaScript while taking great care to optimize performance.'

      client = 'Cartoon Network'

      type = 'Conversion from Flash to HTML5'

      games = 'Batman The Cobblebot Caper, Batman: Batarang Challenge, Batman: Dynamic Double Team'

      photoType = 'desktop'

      galleries =
      [
        {
          link: 'https://www.cartoonnetwork.co.uk/games',
          title:'Batman The Cobblebot Caper:',
          description:'Intense action platformer featuring the Caped Crusader. Defeat hordes of enemies and cunning supervillains!',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        },
        {
          link: 'https://www.cartoonnetwork.co.uk/games',
          title:'Batman Batarang Challenge:',
          description:'Use Batman’s trusted batarang to knock out the bad guys while keeping the allies safe.',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        },
        {
          link: 'https://www.cartoonnetwork.co.uk/games',
          title:'Batman Dynamic Double Team:',
          description:'Punch and kick your way through the far reaches of the galaxy to stop space pirates!',
          images:[
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg',
            'placeholder1.jpg',
            'placeholder2.jpg',
            'placeholder3.jpg',
            'placeholder4.jpg'
          ]
        }
      ]


//- Uncomment if need cookie dialog on this page.
//- block cookie
//- include templates/general/_cookie


//- Including header template.
block header
  include templates/general/_header


//- Including main sections of single project page.
block main
  main(class="single-project-page #{photoType}")
    include templates/single-project/_hero


      //- Including specific backgrounds.
      block background
        img(
          src="./img/hero-bg-#{game}.png"
          class="hero-game__bg hero-game__bg-main"
          style="opacity:0"
          onload="this.classList.add('onload')"
        )

    include templates/single-project/_photos
    +gallery


//- Including footer template.
block footer
  include templates/general/_footer


//- Including scripts that are relative to this page.
block scripts-bottom
  script(src="js/snap.svg-min.js")
  script(src="js/glide.min.js")
  script(src="js/menu-control.js")
  script(src="js/single-project.js")
