section.hero
  h1.hero__title
    | The digital world of kids shaped and served.

  h3.hero__sub-title
    | Research, strategy and digital development. And a few more words, and maybe a few more.

  //-parameters of button mixin:
    1) text of the button
    2) modificator of the button
    3) unique id for main button
    4) unique id for secondary button that fakes stroke
    5) dx attribute that helps to align svg text horizontally
    6) dy attribute that helps to align svg text vertically
    7) link of the button

  +button(
    text='Hire Us',
    modificator='--white',
    id='1',
    id2='2',
    dx='5',
    dy='8',
    link='contact.html'
  )

  svg.left-shape(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='1920px', height='1050px', viewBox='0 0 1919.999 1135.5')
    line(fill='none', stroke='#FFC79C', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='77.287', y1='334.287', x2='136.923', y2='274.652')

  svg.top-shape(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='1920px', height='1050px', viewBox='0 0 1919.999 1135.5')
    line(fill='none', stroke='#58B5EF', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1383.854', y1='125.977', x2='1443.49', y2='66.341')

  .hero__background-wrapper
    svg.hero__background--desktop.hero__background(xmlns='http://www.w3.org/2000/svg' x='0px', y='0px', width='1920', height='1050px', viewBox='0 0 1920.216 1048.705')
      path(class="curve" fill='none', stroke='#FFC79C', stroke-width='65.1969', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', d='  M1548.151,505.341c-1.452,1.727-2.96,3.418-4.524,5.07c-5.533,5.845-11.764,11.2-18.666,15.94  c-28.032,19.252-61.529,24.511-92.218,17.315c-63.679-14.932-67.332-67.539-121.489-89.254  c-34.817-13.961-75.743-10.807-108.983,12.023c-7.931,5.447-14.975,11.705-21.094,18.586c-0.886,0.997-1.754,2.006-2.601,3.029')
      line(class="circle circle-8" fill='none', stroke='#77DFAD', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1460.253', y1='432.655', x2='1460.225', y2='432.655')
      line(class="circle circle-5" fill='none', stroke='#FFC79C', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1306.384', y1='730.141', x2='1306.355', y2='730.141')
      line(class="line line-big line-big-1" fill='none', stroke='#77DFAD', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='558.51', y1='683.47', x2='614.68', y2='627.3')
      line(class="line line-big line-big-2" fill='none', stroke='#58B5EF', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1561.708', y1='673.972', x2='1619.03', y2='616.651')
      line(class="line line-big line-big-3" fill='none', stroke='#FFC79C', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1756.017', y1='283.277', x2='1813.338', y2='225.955')
      line(class="line line-small line-small-1" fill='none', stroke='#FFC79C', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1541.766', y1='351.128', x2='1579.543', y2='313.351')
      line(class="line line-small line-small-2" fill='none', stroke='#FC8D80', stroke-width='70.8661', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1061.757', y1='602.682', x2='1096.089', y2='568.35')
      path(class="smile smile-1" fill='none', stroke='#58B5EF', stroke-width='59.811', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', d='  M1440.465,283.967c-18.401,36.245-56.024,61.085-99.456,61.085s-81.054-24.84-99.455-61.085')
      path(class="smile smile-2" fill='none', stroke='#FC8D80', stroke-width='59.811', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', d='  M1816.899,437.687c-18.401,36.245-56.024,61.084-99.456,61.084s-81.054-24.84-99.455-61.084')
      path(class="smile smile-3" fill='none', stroke='#77DFAD', stroke-width='59.811', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', d='  M1643.172,760.368c-20.4,22.615-49.929,36.834-82.786,36.834c-32.856,0-62.385-14.219-82.786-36.834')
      line(class="circle circle-11" fill='none', stroke='#58B5EF', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1431.307', y1='987.761', x2='1431.278', y2='987.761')
      line(class="circle circle-10" fill='none', stroke='#77DFAD', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1819.379', y1='653.949', x2='1819.351', y2='653.949')
      line(class="circle circle-7" fill='none', stroke='#FC8D80', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1411.253', y1='661.173', x2='1411.225', y2='661.173')
      line(class="circle circle-4" fill='none', stroke='#58B5EF', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1264.976', y1='561.575', x2='1264.948', y2='561.575')
      line(class="circle circle-3" fill='none', stroke='#77DFAD', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1154.62', y1='357.962', x2='1154.591', y2='357.962')
      line(class="circle circle-6" fill='none', stroke='#FC8D80', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1341.024', y1='236.404', x2='1340.996', y2='236.404')
      line(class="circle circle-2" fill='none', stroke='#FFC79C', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='883.141', y1='186.346', x2='883.113', y2='186.346')
      line(class="circle circle-1" fill='none', stroke='#58B5EF', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='867.129', y1='812.738', x2='867.101', y2='812.738')
      line(class="circle circle-9" fill='none', stroke='#58B5EF', stroke-width='73.7008', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', x1='1717.46', y1='391.07', x2='1717.432', y2='391.07')

    svg.hero__background--mobile.hero__background(xmlns='http://www.w3.org/2000/svg' x='0px', y='0px' viewBox='140 190 312 476' width="300" height="500")
      path( fill='#58B5EF', d='M274.799,246.73c-2.014-4.172-7.028-5.921-11.199-3.908   c-4.173,2.013-5.922,7.026-3.909,11.199c3.229,6.691,8.298,12.33,14.551,16.257c6.094,3.827,13.268,6.039,20.921,6.039   c7.654,0,14.829-2.212,20.922-6.039c6.252-3.928,11.321-9.566,14.55-16.257c2.013-4.173,0.263-9.186-3.908-11.199   c-4.172-2.013-9.185-0.263-11.199,3.908c-1.859,3.854-4.777,7.1-8.376,9.36c-3.444,2.163-7.551,3.414-11.989,3.414   c-4.438,0-8.545-1.251-11.988-3.414C279.575,253.83,276.657,250.584,274.799,246.73z')
      path( fill='#FC8D80', d='M379.814,289.877c-2.013-4.172-7.028-5.921-11.199-3.908   c-4.173,2.013-5.922,7.026-3.909,11.199c3.229,6.691,8.299,12.33,14.551,16.257c6.093,3.827,13.268,6.039,20.921,6.039   c7.654,0,14.829-2.212,20.922-6.039c6.253-3.928,11.322-9.566,14.55-16.257c2.013-4.173,0.263-9.186-3.908-11.199   c-4.172-2.013-9.185-0.263-11.199,3.908c-1.859,3.854-4.777,7.1-8.376,9.36c-3.444,2.163-7.551,3.414-11.989,3.414   c-4.438,0-8.545-1.251-11.988-3.414C384.591,296.978,381.672,293.731,379.814,289.877z')
      circle( fill='#58B5EF', cx='273.948', cy='328.341', r='10.448')
      circle( fill='#FC8D80', cx='295.163', cy='237.627', r='10.448')
      circle( fill='#FC8D80', cx='141.354', cy='465.069', r='10.448')
      circle( fill='#FFC79C', cx='412.742', cy='552.457', r='10.448')
      circle( fill='#58B5EF', cx='400.178', cy='280.774', r='10.448')
      circle( fill='#77DFAD', cx='215.751', cy='317.489', r='10.448')
      circle( fill='#77DFAD', cx='352.983', cy='217.905', r='10.448')
      circle( fill='#77DFAD', cx='377.13', cy='338.056', r='10.448')
      circle( fill='#77DFAD', cx='243.162', cy='271.538', r='10.448')
      circle( fill='#FFC79C', cx='174.741', cy='267.716', r='10.448')
      path( fill='#FFC79C', d='M344.309,262.519c-3.859,3.858-3.859,10.115,0.001,13.974   c3.857,3.857,10.114,3.857,13.972-0.001l10.286-10.286c3.859-3.859,3.859-10.115,0.001-13.972   c-3.859-3.859-10.115-3.859-13.974-0.001L344.309,262.519z')
      path( fill='#FFC79C', d='M228.051,205.258c-3.859,3.858-3.859,10.115,0.001,13.974   c3.857,3.857,10.114,3.857,13.972-0.001l10.286-10.286c3.858-3.859,3.859-10.115,0.001-13.972   c-3.859-3.859-10.115-3.859-13.974-0.001L228.051,205.258z')
      path( fill='#77DFAD', d='M146.641,586.443c-3.859,3.859-3.859,10.115,0.001,13.974   c3.857,3.857,10.114,3.857,13.972-0.001l16.228-16.228c3.859-3.859,3.859-10.115,0.001-13.972c-3.859-3.859-10.115-3.859-13.974,0   L146.641,586.443z')
      path( fill='#FC8D80', d='M185.996,320.013c3.859-3.858,3.859-10.115-0.001-13.974   c-3.857-3.857-10.114-3.857-13.972,0.001l-9.533,9.533c-3.859,3.858-3.859,10.115-0.001,13.972   c3.859,3.859,10.115,3.859,13.974,0.001L185.996,320.013z')
      path( fill='#FC8D80', d='M401.946,620.135c3.859-3.858,3.859-10.114-0.001-13.974   c-3.857-3.857-10.114-3.857-13.972,0.001l-26.783,26.783c-3.859,3.859-3.859,10.115-0.001,13.972   c3.859,3.859,10.116,3.859,13.974,0.001L401.946,620.135z')
      path( fill='#58B5EF', d='M452.419,599.862c3.858-3.858,3.859-10.115-0.001-13.974   c-3.857-3.857-10.114-3.857-13.972,0.001l-9.533,9.533c-3.858,3.859-3.858,10.115-0.001,13.972   c3.859,3.859,10.115,3.859,13.974,0.001L452.419,599.862z')
      path( fill='#FFC79C', d='M258.324,312.717l-1.517,1.517   c-3.859,3.858-10.115,3.858-13.973,0c-3.858-3.858-3.858-10.114,0.001-13.973l1.517-1.517   c16.337-16.337,42.856-16.339,59.193-0.001l1.699,1.698l5.86,5.86l1.699,1.698c8.624,8.625,22.622,8.625,31.247-0.001l1.517-1.518   c3.859-3.858,10.115-3.858,13.973,0c3.858,3.858,3.858,10.115-0.001,13.973l-1.517,1.518   c-16.337,16.337-42.856,16.338-59.193,0.001l-1.698-1.699l-5.86-5.86l-1.698-1.699C280.947,304.091,266.95,304.091,258.324,312.717   z')
      circle( fill='#77DFAD', cx='328.425', cy='292.375', r='10.448')
      circle( fill='#77DFAD', cx='202.13', cy='629.377', r='10.448')
      circle( fill='#58B5EF', cx='142.054', cy='368.554', r='10.448')
      circle( fill='#FFC79C', cx='453.92', cy='340.086', r='10.448')
      circle( fill='#77DFAD', cx='445.742', cy='461.457', r='10.448')







