section.projects-slider
  h2.projects-slider__title
    | Our Projects

  .glide
    .glide__track(data-glide-el="track")
      ul.glide__slides

        //-  parameters of card mixin:
          1) link to the project
          2) logo name img/logo#{name}.svg
          3) upper title text
          4) bottom title text
          5) description text
          6) name variable for image and for assigning classes
          7) html tag which wraps the card

        +card()(
          link='./game-batman.html',
          game='batman',
          logo='cartoon-network',
          titleUp='BATMAN GAMES',
          titleDown = '',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-gumball.html',
          game='gumball',
          logo='cartoon-network',
          titleUp='GUMBALL GAMES',
          titleDown = '',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-soccer.html',
          game='soccer',
          logo='moonfrog-cut',
          titleUp='SOCCER',
          titleDown = 'KICK & SHOTOUT',
          description='Custom game development',
          tag='li'
        )
        +card()(
          link='./game-city.html',
          game='city',
          logo='moonfrog-cut',
          titleUp='CITY MERGE',
          titleDown = '',
          description='Custom Game Development',
          tag='li'
        )
        +card()(
          link='./game-titans.html',
          game='titans',
          logo='cartoon-network',
          titleUp='TEEN TITANS GAMES',
          titleDown = '',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-adventure-time.html',
          game='adventure-time',
          logo='cartoon-network',
          titleUp='ADVENTURE TIME',
          titleDown = 'GAMES',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-regular-show.html',
          game='regular-show',
          logo='cartoon-network-dark',
          titleUp='REGULAR SHOW',
          titleDown = 'GAMES',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-ben.html',
          game='ben',
          logo='cartoon-network',
          titleUp='BEN 10 GAMES',
          titleDown = '',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-magicsword.html',
          game='magicsword',
          logo='cartoon-network',
          titleUp='MIGHTY MAGICSWORD',
          titleDown = '',
          description='Conversion from Flash to HTML5',
          tag='li'
        )
        +card()(
          link='./game-restaurant.html',
          game='restaurant',
          logo='cartoon-network',
          titleUp='MERGE',
          titleDown = 'RESTAURANT',
          description='Custom Game Development',
          tag='li'
        )
        +card()(
          link='./game-funbrain.html',
          game='funbrain',
          titleUp='FUNBRAIN',
          titleDown = 'GAMES',
          description='Flash to HTML5 conversion',
          tag='li'
        )
        +card()(
          link='./game-webkinz.html',
          game='webkinz',
          titleUp='WEBKINZ',
          titleDown = 'ARCADE GAMES',
          description='Custom game development',
          tag='li'
        )



    .glide__arrows(data-glide-el='controls')
      button.glide__arrow.glide__arrow--left(data-glide-dir='<')
        +arrow-left-index
      button.glide__arrow.glide__arrow--right(data-glide-dir='>')
        +arrow-right-index

  //-parameters of button mixin:
    1) text of the button
    2) modificator of the button
    3) unique id for main button
    4) unique id for secondary button that fakes stroke
    5) dx attribute that helps to align svg text horizontally
    6) dy attribute that helps to align svg text vertically
    7) link of the button

  +button(
    text='View All',
    modificator='--white',
    id='3',
    id2='4',
    dx='4.3',
    dy='8',
    link='projects.html'
  )