section.info.info--services
  .info__column.info__column--image
    img.info__image(src="./img/people1.png")
  .info__column.info__column--info
    .info__text-wrapper
      h2.info__title
        | Our Services.
      p.info__description
        | Art, code, design. We provide a complete game development service offering all you will ever need. With 100+ game projects under our belt, the Fundemic team is here for you to craft engaging and beautiful gameplay experiences that run on mobile, web, and desktop.

      //-parameters of button mixin:
        1) text of the button
        2) modificator of the button
        3) unique id for main button
        4) unique id for secondary button that fakes stroke
        5) dx attribute that helps to align svg text horizontally
        6) dy attribute that helps to align svg text vertically
        7) link of the button

      +button(
        text='Learn More',
        modificator='--mid animated-button--blue animated-button--bg',
        id='5',
        id2='6',
        dx='-1',
        dy='7',
        link='projects.html'
      )

    .info__svg-wrapper#scroll
      img.info__svg.info__svg--monitor(src="img/monitor-tablet-phone-1.svg")
      img.info__svg.info__svg--mobile(src="img/monitor-tablet-phone-2.svg")
      img.info__svg.info__svg--tablet(src="img/monitor-tablet-phone-3.svg")