section.info.info--services
  .info__column.info__column--image

  .info__column.info__column--info
    .info__text-wrapper
      h2.info__title
        | Our Expertise.

      p.info__description
        | Whether you are looking for an outsourcing studio to develop games from scratch, a trusted co-production partner to work in tandem with your developers, or something else, we’ve got you covered.

      //-parameters of button mixin:
        1) text of the button
        2) modificator of the button
        3) unique id for main button
        4) unique id for secondary button that fakes stroke
        5) dx attribute that helps to align svg text horizontally
        6) dy attribute that helps to align svg text vertically
        7) link of the button

      +button(
        text='Learn More',
        modificator='--mid animated-button--blue animated-button--bg',
        id='5',
        id2='6',
        dx='-1',
        dy='7',
        link='projects.html'
      )

    .info__svg-wrapper#scroll
      img.info__svg.info__svg--monitor(src="img/monitor-tablet-phone-1.svg")
      img.info__svg.info__svg--mobile(src="img/monitor-tablet-phone-2.svg")
      img.info__svg.info__svg--tablet(src="img/monitor-tablet-phone-3.svg")