section.info.info--vision
  .info__column.info__column--info
    .info__text-wrapper
      h2.info__title
        | Your Vision.

      p.info__description
        | Conquer new audiences across platforms and save big by hiring our team of HTML5 and mobile gurus.

      //-parameters of button mixin:
        1) text of the button
        2) modificator of the button
        3) unique id for main button
        4) unique id for secondary button that fakes stroke
        5) dx attribute that helps to align svg text horizontally
        6) dy attribute that helps to align svg text vertically
        7) link of the button

      +button(
        text='Learn More',
        modificator='--mid animated-button--red animated-button--bg',
        id='7',
        id2='8',
        dx='-1',
        dy='7',
        link='projects.html'
      )

  .info__column.info__column--image