mixin card(link,color,category,title1,title2,description,img_src,tag,game)
  #{tag}(class="card" class="card--#{color}" class="card--#{game}")
    a.card__link.card__wrapper(href="#{link}")
      h5.card__category
        | !{category}
      div.card__info-wrapper
        h4.card__title
          div
            | !{title1}
          div
            | !{title2}
        p.card__description
          | !{description}
    img.card__image(src="img/card#{img_src}.png")

mixin game(img_src,title,description,color,link)
  li.game
    img.game__image(src="img/oldgame#{img_src}.png")
    h4.game__title
      | !{title}
    p.game__description
      | !{description}
    a(onmouseover="this.parentNode.classList.add('active')" onmouseout="this.parentNode.classList.remove('active')" class='game__link', class='#{color}', href='#{link}')
      svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 192 512')
        path(fill='rgb(255,255,255)', d='M166.9 264.5l-117.8 116c-4.7 4.7-12.3 4.7-17 0l-7.1-7.1c-4.7-4.7-4.7-12.3 0-17L127.3 256 25.1 155.6c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0l117.8 116c4.6 4.7 4.6 12.3-.1 17z')

mixin logo(img_src)
  .clients__image-wrapper
    img.clients__image(src="img/logo-#{img_src}.svg")

mixin laptop(img_src)
  img(class="services__image",  class="services__image--laptop", class="services__image--laptop-#{img_src}", src="img/about-laptop-#{img_src}.svg")

mixin arrow-left
  svg(xmlns='http://www.w3.org/2000/svg', width='70', height='80', viewBox='311 395 105.583 51.89')
    polyline(fill='none', stroke-width='2.8346', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', points='  383.391,469.145 335.191,420.945 383.391,372.745 ')

mixin arrow-right
  svg(xmlns='http://www.w3.org/2000/svg', width='70', height='80', viewBox='311 395 105.583 51.89')
    polyline(fill='none', stroke-width='2.8346', stroke-linecap='round', stroke-linejoin='round', stroke-miterlimit='22.9256', points='\
    335.191,469.145 383.391,420.945 335.191,372.745 ')

mixin button(text, modificator, id, id2, dx, dy, link)
  a(class="animated-button#{modificator}", class="animated-button", href="#{link}")
    svg.svg.svg--1(id="animated-button#{id}" xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='227.991px', height='104.335px', viewBox='0 0 227.991 104.335')
      path.invisible(id="invisible#{id}" fill='none', stroke='#000000', stroke-width='0.5669', stroke-miterlimit='22.9256', d='M53.023,45.23\
      c40.349,18.432,80.994,18.568,121.945,0')
      path.visible(id="visible#{id}" fill='none', stroke='#000000', stroke-width='0.5669', stroke-miterlimit='22.9256', d='M51.523,52.167\
      c40.648,0,81.296,0,121.945,0')
      path.invisible(id="none"  d='M51.523,52.167\n      c40.648,0,81.296,0,121.945,0')
      text(dx="#{dx}%" dy="#{dy}%")
        textpath(xlink:href='#none')
          | !{text}



    svg.svg.svg--2(id="animated-button#{id2}" xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='227.991px', height='104.335px', viewBox='0 0 227.991 104.335')
      path.invisible.fancy-cup(id="invisible#{id2}" fill='none', stroke='#000000', stroke-width='0.5669', stroke-miterlimit='22.9256', d='M53.023,45.23\
      c40.349,18.432,80.994,18.568,121.945,0')
      path.visible(id="visible#{id2}" fill='none', stroke='#000000', stroke-width='0.5669', stroke-miterlimit='22.9256', d='M51.523,52.167\
      c40.648,0,81.296,0,121.945,0')

mixin circles
  svg.circles__image.circles__image--mobile(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='700', height='900',  viewBox='180 350 2000 2908')
    path(fill='#FFC79C', d='M643.053,679.845c-60.936,60.936-60.924,159.718,0.015,220.657c60.931,60.931,159.706,60.936,220.641,0   c60.936-60.935,60.947-159.725,0.015-220.657C802.785,618.906,703.988,618.91,643.053,679.845L643.053,679.845z')
    path(fill='#FFC79C', d='M1453.358,2271.102c-49.547,49.546-49.537,129.865,0.012,179.414c49.542,49.543,129.855,49.547,179.402,0   c49.546-49.546,49.554-129.871,0.012-179.414C1583.234,2221.553,1502.904,2221.557,1453.358,2271.102L1453.358,2271.102z')
    path(fill='#5EC1FF', d='M767.561,1949.807c-60.935,60.935-60.924,159.718,0.015,220.657c60.93,60.931,159.707,60.935,220.642,0   c60.935-60.935,60.945-159.726,0.015-220.657C927.294,1888.867,828.496,1888.872,767.561,1949.807L767.561,1949.807z')
    path(fill='#5EC1FF', d='M1428.436,2945.797c-30.467,30.468-30.463,79.859,0.008,110.329c30.465,30.466,79.854,30.468,110.322,0   c30.467-30.468,30.473-79.864,0.007-110.329C1508.304,2915.327,1458.904,2915.329,1428.436,2945.797z')
    path(fill='#5EC1FF', d='M1078.346,448.549c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.229,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.27C1146.588,422.515,1104.379,422.518,1078.346,448.549z')
    path(fill='#77DFAD', d='M1839.44,1786.684c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.23,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.27C1907.681,1760.65,1865.472,1760.652,1839.44,1786.684z')
    path(fill='#77DFAD', d='M681.255,2386.609c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.229,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.27C749.496,2360.575,707.288,2360.577,681.255,2386.609z')
    path(fill='#77DFAD', d='M1856.105,2536.59c-26.032,26.033-26.027,68.235,0.007,94.269c26.031,26.031,68.23,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.269C1924.347,2510.556,1882.138,2510.558,1856.105,2536.59z')
    path(fill='#FFC79C', d='M1897.767,2019.988c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.23,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.27C1966.008,1993.954,1923.8,1993.957,1897.767,2019.988z')
    path(fill='#FFC79C', d='M922.89,2607.305c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.229,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.27C991.131,2581.271,948.922,2581.274,922.89,2607.305L922.89,2607.305z')
    path(fill='#FFC79C', d='M1664.461,880.523c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.23,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.27C1732.703,854.489,1690.494,854.491,1664.461,880.523z')
    path(fill='#5EC1FF', d='M617.456,2739.423c-26.032,26.033-26.027,68.236,0.007,94.269c26.031,26.031,68.23,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.269C685.698,2713.389,643.489,2713.392,617.456,2739.423z')
    path(fill='#60B4E8', d='M703.387,1189.619c-26.032,26.033-26.027,68.235,0.007,94.269c26.031,26.031,68.229,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.269C771.628,1163.585,729.42,1163.588,703.387,1189.619L703.387,1189.619z')
    path(fill='#77DFAD', d='M1344.973,981.312c-26.032,26.033-26.027,68.235,0.007,94.269c26.031,26.031,68.229,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.269C1413.214,955.278,1371.005,955.281,1344.973,981.312z')
    path(fill='#FFC79C', d='M1196.183,1525.259c-26.032,26.033-26.027,68.235,0.007,94.27c26.031,26.031,68.23,26.032,94.262,0   c26.032-26.033,26.038-68.238,0.006-94.269C1264.424,1499.225,1222.216,1499.228,1196.183,1525.259L1196.183,1525.259z')
    path(fill='#77DFAD', d='M296.058,1556.842c-60.936,60.936-60.924,159.718,0.015,220.657c60.931,60.931,159.706,60.936,220.641,0   c60.936-60.935,60.947-159.725,0.015-220.657C455.79,1495.904,356.992,1495.908,296.058,1556.842L296.058,1556.842z')
    path(fill='#77DFAD', d='M1895.175,1108.957c-60.936,60.936-60.924,159.718,0.015,220.657c60.931,60.931,159.706,60.936,220.641,0   c60.936-60.935,60.947-159.725,0.015-220.657C2054.907,1048.018,1956.11,1048.022,1895.175,1108.957L1895.175,1108.957z')


  svg.circles__image.circles__image--desktop(xmlns='http://www.w3.org/2000/svg', x='0px', y='0px',  width="1920" height="1080" viewBox='0 0 8268 3508')
    path( fill='#FFC79C', d='M3852.999,1961.364c-60.946,60.946-60.934,159.744,0.015,220.693c60.941,60.941,159.732,60.946,220.677,0\
    c60.946-60.945,60.956-159.751,0.015-220.693C4012.757,1900.416,3913.944,1900.419,3852.999,1961.364z')
    path( fill='#FFC79C', d='M1269.808,206.26c-60.946,60.946-60.934,159.744,0.015,220.693c60.941,60.941,159.732,60.946,220.677,0\
    c60.946-60.945,60.956-159.751,0.015-220.693C1429.565,145.312,1330.752,145.315,1269.808,206.26z')
    path(fill='#FFC79C', d='M577.8,2773.955c-112.735,112.737-112.714,295.491,0.028,408.234\
    c112.728,112.728,295.47,112.735,408.205,0c112.734-112.735,112.755-295.505,0.027-408.234\
    C873.318,2661.212,690.535,2661.22,577.8,2773.955L577.8,2773.955z')
    path(fill='#FFC79C', d='M4175.729,3128.068c-60.946,60.946-60.934,159.744,0.015,220.693c60.941,60.941,159.732,60.946,220.677,0\
    c60.946-60.945,60.957-159.751,0.015-220.693C4335.486,3067.12,4236.673,3067.124,4175.729,3128.068z')
    path(fill='#FFC79C', d='M5865.685,1229.264c-60.946,60.946-60.934,159.744,0.015,220.693c60.941,60.941,159.732,60.946,220.677,0\
    c60.946-60.945,60.956-159.751,0.015-220.693C6025.443,1168.316,5926.629,1168.32,5865.685,1229.264z')
    path(fill='#5EC1FF', d='M7319.117,808.605c-139.555,139.553-139.53,365.79,0.035,505.356\
    c139.545,139.545,365.766,139.553,505.32,0c139.554-139.556,139.58-365.811,0.035-505.356\
    C7684.942,669.04,7458.67,669.049,7319.117,808.605z')
    path(fill='#5EC1FF', d='M7078.115,159.242c-60.944,60.945-60.934,159.744,0.016,220.693c60.94,60.941,159.733,60.945,220.678,0\
    c60.944-60.945,60.956-159.752,0.015-220.693C7237.875,98.293,7139.06,98.298,7078.115,159.242z')
    path(fill='#5EC1FF', d='M5738.687,2111.368c-60.945,60.945-60.934,159.744,0.015,220.693c60.94,60.941,159.733,60.945,220.678,0\
    c60.945-60.945,60.956-159.752,0.016-220.693C5898.446,2050.418,5799.631,2050.423,5738.687,2111.368z')
    path(fill='#5EC1FF', d='M6870.666,2715.239c-26.036,26.037-26.032,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C6938.917,2689.2,6896.703,2689.203,6870.666,2715.239z')
    path(fill='#77DFAD', d='M5383.124,2706.907c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C5451.376,2680.869,5409.161,2680.871,5383.124,2706.907z')
    path(fill='#77DFAD', d='M2274.686,1227.692c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.24,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C2342.938,1201.654,2300.723,1201.656,2274.686,1227.692L2274.686,1227.692z')
    path(fill='#77DFAD', d='M7221.999,1855.575c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C7290.25,1829.536,7248.036,1829.539,7221.999,1855.575z')
    path(fill='#77DFAD', d='M7837.389,383.932c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C7905.641,357.894,7863.426,357.896,7837.389,383.932z')
    path(fill='#FFC79C', d='M6633.175,1300.634c-26.036,26.037-26.031,68.246,0.007,94.285c26.034,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.005-94.285C6701.428,1274.595,6659.212,1274.598,6633.175,1300.634z')
    path(fill='#FFC79C', d='M5195.626,2377.732c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C5263.878,2351.694,5221.664,2351.696,5195.626,2377.732z')
    path(fill='#FFC79C', d='M1756.707,1247.218c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.24,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C1824.959,1221.179,1782.744,1221.182,1756.707,1247.218L1756.707,1247.218z')
    path(fill='#FFC79C', d='M3795.582,577.669c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.24,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C3863.834,551.631,3821.619,551.633,3795.582,577.669z')
    path( fill='#FFC79C', d='M1989.829,2388.843c-60.946,60.946-60.934,159.744,0.015,220.693c60.941,60.941,159.732,60.946,220.677,0\
        c60.946-60.945,60.957-159.751,0.015-220.693C2149.587,2327.895,2050.773,2327.898,1989.829,2388.843z')
    path(fill='#77DFAD', d='M1071.794,1399.84c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C1140.046,1373.802,1097.831,1373.804,1071.794,1399.84z')
    path(fill='#5EC1FF', d='M3445.552,2365.227c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C3513.804,2339.189,3471.589,2339.191,3445.552,2365.227z')
    path(fill='#5EC1FF', d='M1753.828,3173.587c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.24,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C1822.08,3147.549,1779.865,3147.551,1753.828,3173.587z')
    path(fill='#60B4E8', d='M2462.186,456.828c-26.036,26.037-26.031,68.246,0.007,94.285c26.035,26.035,68.24,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C2530.438,430.789,2488.223,430.792,2462.186,456.828z')
    path(fill='#5EC1FF', d='M6195.648,696.44c-26.036,26.037-26.032,68.246,0.007,94.285c26.035,26.035,68.241,26.036,94.278,0\
    c26.036-26.037,26.042-68.249,0.006-94.285C6263.9,670.402,6221.685,670.404,6195.648,696.44z')
    path(fill='#5EC1FF', d='M7819.806,2947.019c-60.944,60.945-60.934,159.744,0.016,220.693c60.94,60.941,159.733,60.945,220.678,0\
    c60.944-60.945,60.956-159.752,0.015-220.693C7979.565,2886.07,7880.75,2886.074,7819.806,2947.019z')
    path(fill='#77DFAD', d='M266.964,787.396C153.38,900.98,153.401,1085.109,266.991,1198.7\
    c113.576,113.576,297.693,113.585,411.276,0c113.583-113.582,113.605-297.727,0.028-411.303\
    C564.705,673.806,380.546,673.813,266.964,787.396L266.964,787.396z')
    path(fill='#77DFAD', d='M5084.931,2635.795c-99.348-99.348-260.402-99.327-359.755,0.026\ c-99.342,99.343-99.351,260.383-0.002,359.731c99.35,99.349,260.416,99.367,359.759,0.025\ C5184.285,2896.224,5184.28,2735.145,5084.931,2635.795z')
    path(fill='#77DFAD', d='M4957.059,602.975c-60.946-60.946-159.744-60.933-220.692,0.015\ c-60.942,60.941-60.947,159.732-0.001,220.678c60.946,60.945,159.752,60.956,220.693,0.014\ C5018.007,762.734,5018.005,663.92,4957.059,602.975L4957.059,602.975z')
    path(fill='#5EC1FF', d='M1789.529,1845.406c-60.945,60.945-60.934,159.744,0.015,220.693c60.94,60.941,159.733,60.945,220.678,0\
        c60.945-60.945,60.955-159.752,0.015-220.693C1949.288,1784.457,1850.474,1784.462,1789.529,1845.406z')
    path(fill='#77DFAD', d='M2706.983,2224.348c-60.946-60.946-159.744-60.933-220.692,0.015\ c-60.942,60.941-60.947,159.732-0.001,220.677c60.946,60.945,159.752,60.957,220.693,0.014\ C2767.931,2384.107,2767.929,2285.292,2706.983,2224.348z')


