section(class='in-house-game in-house-game--#{gameTitle}')

  .wrapper

    img.in-house-game__image(src="../../img/oldgame-#{gameTitle}.png")

    h1.in-house-game__title
      | #{pageTitle}

    p.in-house-game__description
      | #{description}

    +button()(
      text='Play',
      modificator='--in-house-game animated-button--white',
      id='1',
      id2='2',
      dx='15',
      dy='8',
      link='/',
      click='true'
    )

  .wrapper.wrapper--play
    div(class='in-house-game__play')
      div.in-house-game__canvas
        div(id="#{gameContainer}")