section.games-grid
  .wrapper
    h1.games-grid__title
      div
        | The games that
      div
        | started it all

    .games-grid__sub-title
      div
        | Explore the early games created in-house by Fundemic. Some games like Amazing Sheriff have gone on to become major hits when Flash was in its heyday.
      div
        | Since then, the team has moved to HTML5 and native mobile development, although we may still do some quick prototyping in Flash.

    .games-grid__game-wrapper

      //-  parameters of game mixin:
           1) image $index that is inserted into src="img/oldgame#{$index}.png" for linking an image
           2) title text
           3) description text
           4) color of the button
           5) link to the game
            img_src,title,description,color,link

      +game()(
        img='1',
        title='SUN CHARMS',
        description='Global audience segmentation to determine brand and content direction',
        color='orange',
        link='./in-house/sun-charms.html'
      )
      +game()(
        img='2',
        title='ALIENANZA',
        description='Global audience segmentation to determine brand and content direction',
        color='light-blue',
        link='./in-house/alienanza.html'
      )
      +game()(
        img='3',
        title='BUBBLE MONSTERS',
        description='Global audience segmentation to determine brand and content direction',
        color='pink',
        link='./in-house/bubble-monsters.html'
      )
      +game()(
        img='4',
        title='FINDERS CRITTERS',
        description='Global audience segmentation to determine brand and content direction',
        color='light-blue',
        link='./in-house/finders-critters.html'
      )
      +game()(
        img='5',
        title='CHIN UP SHIN UP',
        description='Global audience segmentation to determine brand and content direction',
        color='redpink',
        link='./in-house/chin-up-shine-up.html'
      )
      +game()(
        img='6',
        title='ZIPPY BOXES',
        description='Global audience segmentation to determine brand and content direction',
        color='orange',
        link='./in-house/zippy-boxes.html'
      )
      +game()(
        img='7',
        title='AMAZING GRABBER',
        description='Global audience segmentation to determine brand and content direction',
        color='blue',
        link='./in-house/amazing-gabber.html'
      )
      +game()(
        img='3',
        title='HATCH THE UNICORN',
        description='Global audience segmentation to determine brand and content direction',
        color='orange',
        link='./in-house/hatch-the-unicorn.html'
      )
      +game()(
        img='1',
        title='WAKE THE RABBIT',
        description='Global audience segmentation to determine brand and content direction',
        color='orange',
        link='./in-house/wake-the-rabbit.html'
      )
      +game()(
        img='2',
        title='POMME POMME',
        description='Global audience segmentation to determine brand and content direction',
        color='light-blue',
        link='./in-house/pomme-pomme.html'
      )
      +game()(
        img='3',
        title='CANDY BUFF',
        description='Global audience segmentation to determine brand and content direction',
        color='pink',
        link='./in-house/candy-buff.html'
      )
      +game()(
        img='4',
        title='AMAZING SHERIFF',
        description='Global audience segmentation to determine brand and content direction',
        color='light-blue',
        link='./in-house/amazing-sherif.html'
      )
      +game()(
        img='5',
        title='GROUNDHOG D-DAY',
        description='Global audience segmentation to determine brand and content direction',
        color='redpink',
        link='./in-house/groundhog-d-day.html'
      )
      +game()(
        img='6',
        title='GO SANTA GO',
        description='Global audience segmentation to determine brand and content direction',
        color='orange',
        link='./in-house/go-santa-go.html'
      )
      +game()(
        img='7',
        title='GEMAICA',
        description='Global audience segmentation to determine brand and content direction',
        color='blue',
        link='./in-house/gemaica.html'
      )
      +game()(
        img='3',
        title='MAGIC FOUNDRY',
        description='Global audience segmentation to determine brand and content direction',
        color='orange',
        link='./in-house/magic-foundry.html'
      )
