mixin gallery
  section(class="photos photos--#{photoType}")
    -var counter = 0
    -var index1
    -var index2

    //-  function for rendering photos depending on their amount
    while counter < galleries.length
      -index1 = counter * 2 + 1
      -index2 = index1 + 1

      .wrapper.wrapper--info
        .photos__row.photos__row--info
          .photos__column.photos__column--info
            if(galleries[counter].title)
              h2.photos__title
                | #{galleries[counter].title}
            p.photos__description
              | #{galleries[counter].description}

          .photos__column.photos__column--button

            //-parameters of button mixin:
              1) text of the button
              2) modificator of the button
              3) unique id for main button
              4) unique id for secondary button that fakes stroke
              5) dx attribute that helps to align svg text horizontally
              6) dy attribute that helps to align svg text vertically
              7) link of the button

            +button(
              text='Play'
              modificator='--'+game+' single animated-button--white'
              id='-photo-'+index1
              id2='-photo-'+index2
              dx='12'
              dy='9'
              link='contact.html'
            )

      .wrapper.wrapper--photo
        .photos__row.photos__row--photo
          each val in galleries[counter].images
            .photos__column.photos__column--photo
              img.photos__image(
                src="./img/#{val}"
                style="opacity:0;transition:.15s ease all"
                onload="this.style.opacity='1'"
              )

      - counter++